{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}
    
    <div class="intro-block">
    <h1>Bonjour !</h1>
    <p>
        I'm a french PhD student in Computer Graphics at Université Lyon 1.
        I'm part of the <a class="in_link" href="https://projet.liris.cnrs.fr/origami/">ORIGAMI</a> team and the <a class="in_link" href="https://www.youtube.com/@ArchesTeam/videos">ARCHES</a> group, at <a class="in_link" href="https://liris.cnrs.fr/">LIRIS</a>.
        My subject is about virtual terrain edition, with a strong focus on erosion simulation.
    </p>
    <h1>Thesis</h1> 
    <p>
        At the moment, I have published about a large-scale interactive erosion simulation to edit mountain ranges.
        I am currently working on stream power erosion, glacial erosion, braided rivers and multi-scale erosion.
        I am supervised by <a class="in_link" href="https://perso.liris.cnrs.fr/eric.galin/">Eric Galin</a> and <a class="in_link" href="https://perso.liris.cnrs.fr/eguerin/new/">Eric Guérin</a>.
    </p>
    <h1>Teaching</h1>
    <p>
        I am participating in teaching activities at university, with bachelor and master students.
        <ul>
            <li>Algorithms, complexity, basic C++    <em>(L2)</em></li>
            <li>Numerical methods - Linear system solving, Interpolation    <em>(L3)</em></li>
            <li>Algorithms, programming, complexity, C++    <em>(L3)</em></li>
            <li>Computer Graphics basis - Signed Distance Functions    <em>(L3)</em></li>
            <li>Computer Graphics - Ray tracing    <em>(M1)</em></li>
            <li>Advanced C++ programming    <em>(M1)</em></li>
        </ul>
    </p>
    <h1>Latest publications ...</h1>

</div>

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}